.light {

  background-color: rgb(240, 243, 245);

  .theme-button {
    margin-left: 10px;
    border-radius: 100%;
    background-image: url('../src/assets/dark-theme.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 0;
  }


  header {
    width: 100%;
    height: 7rem;
    display: flex;
    padding-top: 4%;
  }

  #logo {
    background-image: url("./assets/Logo-light.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: none;

  }

  .home-logo {
    background-image: url('./assets/Home-purple.png');
    background-repeat: no-repeat;
    background-size: 60%;
    height: 30px;
    width: 90px;
    background-position: center;
  }

  header button {
    height: 40%;
    width: 10%;
    margin-right: 1%;
    border-radius: 40px;
    font-size: small;
    font-weight: bold;
  }

  header h1 {
    text-align: center;
    margin: 0;
    width: 70%;
    float: none;
    font-weight: 700;
  }

  header #sign {
    border: none;
    background-color: rgb(240, 243, 245);
  }
  header button a{
    display:inline;
    text-decoration: none;
    color: black;
  }

  header #create {
    background-color: black;
    color: white;
  }

  header a {
    text-decoration: none;
    font-size: small;
    margin-left: 2%;
    font-weight: bold;
    height: 0;
  }

  header #home {
    color: rgb(124, 29, 242);

  }

  header #logo {
    height: 40px;
    width: 120px;
    margin-left: 22%;
    margin-right: 22%;
  }

  header #home {
    height: 30px;
    width: 60px;
    margin-bottom: 100px;
  }

  .container {
    background-color: rgb(248, 251, 253);
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 25px;
    display: flex;
    height: 500px;
    /* look */
  }

  section .org {
    color: rgb(236, 107, 46);
  }

  section h1 {
    font-size: x-large;
    padding-left: 20px;
  }

  section card {
    width: 33%;
    text-align: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: rgb(248, 251, 253);
    border: none;
    border-radius: 25px;

  }

  section div {
    height: 50%;
    background-image: url("../src/assets/BGcard-orange.png");
    background-repeat: no-repeat;
    background-size: 200px;
  }

  section button {
    height: 10%;
    width: 40%;
    margin-right: 1%;
    border-radius: 40px;
    font-size: small;
    font-weight: bold;
    margin-top: 100px;
  }

  section #sign {
    border: none;
    background-color: rgb(248, 251, 253);
  }

  section #create {
    border: none;
    background-color: rgb(248, 251, 253);
    box-shadow: 10px 10px 10px 1px rgb(120, 120, 120, 0.1);
  }
  section button a{
    display:inline;
    text-decoration: none;
    color: black;
  }

  .bbg {
    background-image: url("../src/assets/Sub-light.png");
    background-repeat: no-repeat;
  }

  .dif {
    background-color: rgb(124, 29, 242);
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
  }

  .dif h1 {
    color: white;
  }

  .dif #img {
    height: 69.6%;
    width: 100%;
    background-image: url('./assets/img-light.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-wrap: nowrap;
  }

  .clock {
    text-align: center;
    color: rgb(124, 29, 242);
    height: 10%;
    width: 40%;
    margin-right: 1%;
    margin-left: 30%;
    border-radius: 40px;
    display: grid;
    background-image: none;
    background-color: white;
    word-break:break-all;
  }

  .dif p {
    color: rgb(64, 18, 107);
  }

  .dif img {
    margin-top: 7px;
    height: 68%;
    width: 60%;
  }

  .statement {
    background-image: none;
    display: flex;
    height: 70px;
  }

  .statement h1 {
    color: rgb(156, 156, 156);
    font-size: medium;
    margin-top: 10%;
  }

  .statement #definition {
    color: black;
  }

  .choices {
    background-image: none;
    display: flex;
    align-items: center;
    height: 10%;
    border: 1px solid rgb(240, 243, 245);
    justify-content: center;
    border-radius: 40px;
    background-color: white;
  }

  .choices button {
    margin: 0;
    width: 32%;
    height: 90%;
    border: none;
    background-color: white;
  }

  .choices button:hover {
    background-color: rgb(240, 243, 245);
  }

  .search-box {
    height: 60%;
    width: 80%;
    border: 1px solid rgb(240, 243, 245);
    background-image: none;
    margin-bottom: 10px;
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: small;
    background-color: white;
  }

  hr {
    border-color: rgb(240, 243, 245);
  }

  .categories {
    background-color: rgb(240, 243, 245);
    flex-wrap: wrap;
    margin-bottom: 30px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 4%;
    margin-bottom: 0;
  }

  .categories div {
    background-image: none;
    background-color: rgb(248, 251, 253);
    height: 20%;
    width: 24%;
    border-radius: 15px;
    margin-right: 1%;
    margin-top: 1.8%;
  }

  .categories h3 {
    margin-left: 20px;
  }

  .categories h4 {
    margin-left: 20px;
    color: lightgray;
  }

  .categories \279D {
    margin-left: 20px;
  }

  .trend {
    margin-left: 5%;
    margin-top: 100px;
  }

  .action:hover {
    background-image: url("../src/assets/action-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .sports:hover {
    background-image: url("../src/assets/sport-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .adventure:hover {
    background-image: url("../src/assets/adventure-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .arcade:hover {
    background-image: url("../src/assets/arcade-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .fantasy:hover {
    background-image: url("../src/assets/fantasy-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .strategy:hover {
    background-image: url("../src/assets/strategy-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .shooter:hover {
    background-image: url("../src/assets/shooter-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

}

.dark {
  background-color: rgb(26, 33, 41);
  color: rgb(240, 243, 245);

  .theme-button {
    margin-left: 10px;
    border-radius: 100%;
    background-image: url('../src/assets/light-theme.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 0;
    background-color: rgb(26, 33, 41);
  }


  header {
    width: 100%;
    height: 7rem;
    display: flex;
    padding-top: 4%;
  }

  header button {
    height: 40%;
    width: 10%;
    margin-right: 1%;
    border-radius: 40px;
    font-size: small;
    font-weight: bold;
  }

  header button a{
    display:inline;
    text-decoration: none;
    color: white;
  }

  header h1 {
    text-align: center;
    margin: 0;
    width: 70%;
    float: none;
    font-weight: 700;
  }

  header #sign {
    border: none;
    background-color: rgb(26, 33, 41);
    color: white;
  }

  header #create {
    background-color: black;
    color: white;
    
  }
  

  header a {
    text-decoration: none;
    font-size: small;
    margin-left: 2%;
    font-weight: bold;
    height: 0;
  }

  #logo {
    background-image: url("./assets/Logo-dark.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: none;

  }

  .home-logo {
    background-image: url('./assets/Home-orange.png');
    background-repeat: no-repeat;
    background-size: 60%;
    height: 30px;
    width: 90px;
    background-position: center;
  }


  header #home {
    color: rgb(124, 29, 242);

  }

  header #logo {
    height: 40px;
    width: 120px;
    margin-left: 22%;
    margin-right: 22%;
  }

  header #home {
    height: 30px;
    width: 60px;
    margin-bottom: 100px;
  }

  .container {
    background-color: rgb(33, 40, 48);
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 25px;
    display: flex;
    height: 500px;
    /* look */
  }

  .container p {
    color: rgb(115, 122, 130);
  }

  section .org {
    color: rgb(124, 29, 242);
  }

  section h1 {
    font-size: x-large;
    padding-left: 20px;
  }

  section card {
    width: 33%;
    text-align: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: rgb(33, 40, 48);
    border: none;
    border-radius: 25px;

  }

  section div {
    height: 50%;
    background-image: url("../src/assets/BGcard-purple.png");
    background-repeat: no-repeat;
    background-size: 200px;
  }



  section button {
    height: 10%;
    width: 40%;
    margin-right: 1%;
    border-radius: 40px;
    font-size: small;
    font-weight: bold;
    margin-top: 100px;
  }

  
  section #sign {
    border: none;
    background-color: rgb(33, 40, 48);
    color: white;
    text-decoration: none;
  }

  section #create {
    border: none;
    background-color: rgb(48, 55, 63);
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .bbg {
    background-image: url("../src/assets/Sub-dark.png");
    background-repeat: no-repeat;
    color: white;
  }

  .dif {
    background-color: rgb(251, 127, 65);
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
  }

  .dif h1 {
    color: white;
  }

  .dif img {
    height: 50%;
    width: 50%;
  }

  .clock {
    text-align: center;
    color: rgb(236, 107, 46);
    height: 10%;
    width: 40%;
    margin-right: 1%;
    margin-left: 30%;
    border-radius: 40px;
    display: grid;
    background-image: none;
    background-color: white;
    flex-wrap: nowrap;
    word-break:break-all;
  }

  .dif p {
    color: rgb(217, 94, 32);
  }

  .dif #img {
    height: 69.7%;
    width: 100%;
    background-image: url('./assets/img-dark.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-wrap: nowrap;
  }

  .statement {
    background-image: none;
    display: flex;
    height: 70px;
  }

  .statement h1 {
    color: rgb(156, 156, 156);
    font-size: medium;
    margin-top: 10%;
  }

  .statement #definition {
    color: white;
  }

  .choices {
    background-image: none;
    display: flex;
    align-items: center;
    height: 10%;
    border: 1px solid rgb(26, 33, 41);
    justify-content: center;
    border-radius: 40px;
    background-color: rgb(26, 33, 41);
  }

  .choices button {
    margin: 0;
    width: 32%;
    height: 90%;
    border: none;
    background-color: rgb(26, 33, 41);
    color: rgb(240, 243, 245);
  }

  .choices button:hover {
    background-color: rgb(48, 55, 63);
  }

  .search-box {
    height: 60%;
    width: 80%;
    border: 1px solid rgb(26, 33, 41);
    background-image: none;
    margin-bottom: 10px;
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: small;
    background-color: rgb(26, 33, 41);
  }

  hr {
    border-color: rgb(26, 33, 41);
  }

  .categories {
    background-color: rgb(26, 33, 41);
    flex-wrap: wrap;
    margin-bottom: 30px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 4%;
    margin-bottom: 0;
  }

  .categories div {
    background-image: none;
    background-color: rgb(33, 40, 48);
    height: 20%;
    width: 24%;
    border-radius: 15px;
    margin-right: 1%;
    margin-top: 1.8%;
  }

  .categories h3 {
    margin-left: 20px;
  }

  .categories h4 {
    margin-left: 20px;
    color: lightgray;
  }

  .categories \279D {
    margin-left: 20px;
  }

  .trend {
    margin-left: 5%;
    margin-top: 100px;
  }

  .action:hover {
    background-image: url("../src/assets/action-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .sports:hover {
    background-image: url("../src/assets/sport-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .adventure:hover {
    background-image: url("../src/assets/adventure-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .arcade:hover {
    background-image: url("../src/assets/arcade-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .fantasy:hover {
    background-image: url("../src/assets/fantasy-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .strategy:hover {
    background-image: url("../src/assets/strategy-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }

  .shooter:hover {
    background-image: url("../src/assets/shooter-purple.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  }
}