.container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(248, 251, 253);
    transform: translate(-49%, -49%);
    height: 30%;
    width: 40%;
    border-radius: 40px;
    padding: 5%;
}



form label {
    display: block;
    margin-top: 20px;
}

form input[type="text"], form input[type="email"] {
    width: 50%;
    padding: 3px 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {
    width: 20%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 40px;
    display: block;
    color: #fff;
    background-color: #000;
}